* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

.max-width-500px {
    max-width: 500px;
}

@media(min-width:1140px) {
    .my-container {
        max-width: 1140px !important;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

}

<<<<<<< HEAD
.border-radius-10px {
    border-radius: 10px !important;

}

.bg-color-light-pink {
    background-color: #FFECEE;
}

.max-width-148px {
    max-width: 148px;
}

.padding-top30 {
    padding-top: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.button-padding {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
}

.radius-5px {
    border-radius: 5px;
}


span {
    width: 60px;
    height: 6px;
    background-color: Peach Red;
    display: flex;


}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

@media(min-width:1140px) {
    .width-750 {
        max-width: 750px !important
    }
}

.slick-slide:not(.slick-active) {
    opacity: 0.5;
   
}
=======
>>>>>>> e270908f438999342f336a7b0ee52f9030833345
