
.max-width-500px {
    max-width: 500px;
}


.border-radius-10px {
    border-radius: 10px;

}

.bg-color-light-pink {
    background-color: #FFECEE;
}

.max-width-148px {
    max-width: 148px;
}

.padding-top30 {
    padding-top: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.button-padding {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
}

.radius-5px {
    border-radius: 5px;
}


.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

@media(min-width:1140px) {
    .width-750 {
        max-width: 750px !important
    }
}

.slick-slide:not(.slick-active) {
    opacity: 0.5;
   
}
